新问题已创建。

Issue <%= @issue.iid %>: <%= url_for(project_issue_url(@issue.project, @issue)) %>
Author:    <%= sanitize_name(@issue.author_name) %>
<%= assignees_label(@issue) %>

<%= @issue.description %>
